<body>
    <header>
      <h1>Appointment Booking</h1>
    </header>
      <form id="my-form" action="/addnewusers" method="POST">
        <div class="msg"></div>
        <div>
          <label for="name"> Name : </label>
          <input type="text" id="name" name="name">
      
          <label for="email"> Email : </label>
          <input type="text" id="email" name="email">
          
          <label for="pnumber"> Phone : </label>
          <input type="text" id="pnumber" name="pnumber">
          
        </div>
        <br>
        <input type="submit" value="Book Appointment">
      </form>
      <div id="output"></div>
      <br>
</body>